.wy-table-responsive table td, .wy-table-responsive table th {
   white-space: inherit;
}

.wy-table-responsive table th {
   background-color: #c9c9c9;
}

.line-block, .docutils.footnote {
    line-height: 24px;
}

ul.wy-breadcrumbs li.wy-breadcrumbs-aside{
    display:none;/*hide github editor*/
}
